<div class="container">
    <div class="row">
        <div class="col-md center">
            <h1 class="about-title"> WHAT'S NICE ABOUT RICE?</h1>
        </div>
        <div class="col-md about-subtitle">
            <p class="about-sub"><i>
                Ricestrology was created during the 2018 
                <a href="https://stupidhackathon.com/">Stupid Shit No One Needs and Terrible Ideas Hackaton.</a>
                Feel free to check out the project on 
                <a href="https://github.com/jessicalin58/ricericebaby">Github</a>
            </i>
            </p>
        </div>
        <div class="col-md center">
            <h1 class="about-title">TEAM</h1>
        </div>
        <div class="col-md-3 center tiff">
            <div class="profile-pic">
                <img src="assets/profile/tiff.svg" alt="" srcset="">
            </div>
            <br>
            <div class="profile-title">
                <i><p>Tiffany Sun</p></i>
            </div>
            <div class="profile-job">
                <i><p>UX/UI Designer</p></i>
            </div>
        </div>
        <div class="col-md-3 center edu">
            <div class="profile-pic">
                <img src="assets/profile/edu.svg" alt="" srcset="">
            </div>
            <br>
            <div class="profile-title">
                <i><p>Eduardo Portet</p></i>
            </div>
            <div class="profile-job">
                <i><p>Back-End Developer</p></i>
            </div>
        </div>
        <div class="col-md-3 center jess">
            <div class="profile-pic">
                <img src="assets/profile/jess.svg" alt="" srcset="">
            </div>
            <br>
            <div class="profile-title">
                <i><p>Jessica Lin</p></i>
            </div>
            <div class="profile-job">
                <i><p>Front-End Developer</p></i>
            </div>
        </div>
        <div class="col-md-3 center bryan">
            <div class="profile-pic">
                <img src="assets/profile/bryan.svg" alt="" srcset="">
            </div>
            <br>
            <div class="profile-title">
                <i><p>Bryan Sim</p></i>
            </div>
            <div class="profile-job">
                <i><p>Product</p></i>
            </div>
        </div>

    </div>
</div>