<title>Ricestrology</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
<!-- <script type="text/javascript" src="/tracking/build/tracking.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tracking.js/1.1.3/tracking-min.js"></script>
<!-- <script src="../node_modules/dropzone"></script> -->
<script src="stylesheets/opencv.js"></script>
<script src=//cdnjs.cloudflare.com/ajax/libs/seedrandom/2.3.10/seedrandom.min.js>
</script>
<!-- <script src="../node_modules/tracking/dat.gui/build/dat.gui.min.js"></script> -->
<script src="stylesheets/custom.js"></script>
<!-- <link rel="icon" href="public/assets/favicon.io"> -->
<!-- <link rel="icon" href="_/assets/favicon.io"> -->

<link rel="icon" href="favicon.ico?v=1.1">
