<!-- Image and text -->
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="/">Ricestrology</a>
  <a class="navbar-brand right" href="/about">About</a>

</nav>
