
<div class="container uploadpic">
    <div class="row">
        <div class="col-md-8">
            <!-- <img id="svg-upload" src="assets/ricelanding.svg" /> -->
            <div class="demo-frame" id="rice">
                <div class="demo-container">
                    <img id="img" src="images/ricepic.jpg" />
                    <canvas id="canvas" width="400" height="400"></canvas>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="upload-title">
                <h1>Consult the rice</h1>
            </div>
            <div class="upload-body">
                <p id="fate"><i>Is this the grain you wish to decide your fate?</i></p>
                <!-- Spit results out depending on the points -->
                <div class="results">
                    <div class="text">
                        <h1 class="output upload-body"><i></i></h1>
                        <!-- Go back to homepage -->
                        <button id="redo">REDO!</button>
                    </div>
                </div>
                <!-- Feed the image to the tracker -->
                <button id="track">WHAT'S MY RICE-LUCK?</button>
                <button id="uploadnew" href="/uploadpic">Upload new picture</button>

            </div>

        </div>
    </div>
</div>




