<div class="container splash">

    <div class="row">

        <div class="col-md-12">
            <img id="image" src="assets/ricelanding.svg" style="height:50%; width:50%;" />
            <div class="splash_text">
                <p><bold>Anxious</bold><i> about the </i><bold> future?</bold></p>
                <p><i>Solve it with </i> <bold>RICE!</bold></p>
            </div>
            <button id="go">GO</button>
        </div>
    </div>
</div>